.cta-primary-small-primary-cta-small {
  gap: 10px;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  background-color: var(--dl-color-default-maininteractive);
}
.cta-primary-small-text {
  color: var(--dl-color-default-secondarytext);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Gotham;
  font-weight: 700;
  line-height: 18px;
  white-space: nowrap;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 479px) {
  .cta-primary-small-text {
    font-family: Gotham-Bold;
  }
}
